<template>
  <div class="header">
    <h1>{{ spotTitle }}</h1>
    <Menu :links="links" />
  </div>
</template>

<script>
import Menu from './Menu.vue'

export default {
  name: 'Header',
  components: { Menu },
  props: {
    spotTitle: String,
    links: Array,
  },
}
</script>
