<template>
  <div v-if="links.length">
    <label>Menu</label>
    <ul>
      <li v-for="link in links" :key="link.id">
        {{ link.text }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  props: {
    links: Array
  },
}
</script>
