<template>
  <div v-if="loadingState.value === 'success'" class="report">
    <Header :spotTitle="report.spot.name" :links="[{ text: 'County Line' }, { text: 'Strands' }]" />
    <div class="spot-camera">
      <video-player :options="videoOptions"/>
    </div>
    <div>
      <h2>{{ report.forecast.waveHeight.min }}-{{ report.forecast.waveHeight.max + plus }} {{ getUnit(report.units.waveHeight) }}.</h2>
      <p>
        <i>{{ report.forecast.waveHeight.humanRelation }} & <b>{{ goGetWaveCondition }}</b></i><br/>
        {{ getOccasionalWaveHeight }}
      </p>
      <div class="wind-refresh">
        <p><b>Wind</b>: {{ report.forecast.wind.speed }} {{ getUnit(report.units.windSpeed) }}</p>
        <div>
          <button 
            class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button"
            @click="refresh"
          >
            <img src="@/assets/noun_Refresh_425465-white.svg" class="refresh text-white h-5" />
          </button>
        </div>
      </div>
      <p><b>Current Tide</b>: {{ report.forecast.tide.current.height }} {{ getUnit(report.units.tideHeight) }}. @ {{ tideCurrentTime }}<br/>
        <b>Next Tide</b>: {{ report.forecast.tide.next.height }} {{ getUnit(report.units.tideHeight) }}. <i>{{ report.forecast.tide.next.type }}</i> @ {{ tideNextTime }}
      </p>
      <p><b>Water</b>: {{ report.forecast.waterTemp.min }}-{{ report.forecast.waterTemp.max }}°<br/>
        <b>Weather</b>: {{ report.forecast.weather.temperature }}° –> {{ goGetWeatherCondition }}
      </p>
    </div>
    <div>
      <div v-html="report.report.body"></div>
      <div><b>Last Updated</b>: {{ reportDateTime }}</div>
    </div>
    <div class="spot-image">
      <img :src="report.spot.cameras[0].stillUrl" :alt="report.spot.cameras[0].stillUrl">
    </div>
    <!-- <img src="https://camstills.cdn-surfline.com/wc-countylinebeach/latest_full.jpg" alt="County Line"> -->
  </div>
</template>

<script>
/* eslint-disable no-debugger */
import dayjs from 'dayjs'
import VideoPlayer from '@/components/VideoPlayer'
// import 'video.js/dist/video-js.css'
import { onBeforeMount, reactive } from 'vue'

import Header from '@/components/Header.vue'

// Object literal for condition representation
const getCondition = (condition) => ({
  'CLEAR_NO_RAIN': 'Clear with no rain',
  'FAIR': 'Fair',
  'FAIR_TO_GOOD': 'Fair to Good',
  'POOR': 'Poor',
  'POOR_TO_FAIR': 'Poor to fair',
  'MOSTLY_CLEAR_NO_RAIN': 'Mostly clear with no rain',
  'MOSTLY_CLOUDY_NO_RAIN': 'Mostly cloudy with no rain',
  'NIGHT_CLEAR_NO_RAIN': 'Clear night with no rain',
  'NIGHT_MOSTLY_CLEAR_NO_RAIN': 'Mostly clear night with no rain',
  'NIGHT_OVERCAST_NO_RAIN': 'Overcast night with no rain',
  'OVERCAST_NO_RAIN': 'Overcast with no rain'
})[condition]

const getUnit = (unit) => ({
  'FT': 'ft',
  'KTS': 'kts',
})[unit]

const fetchSurfReport = async () => {
  // Overview:
  // https://services.surfline.com/kbyg/spots/reports?spotId=584204214e65fad6a7709cfc&sds=false&corrected=false
  const res = await fetch('https://services.surfline.com/kbyg/spots/reports?spotId=5842041f4e65fad6a770882b&sds=false&corrected=false') // The Wedge
  const res = await fetch('https://services.surfline.com/kbyg/spots/reports?spotId=5842041f4e65fad6a7708813&sds=false&corrected=false') // County Line
  // const res = await fetch('https://services.surfline.com/kbyg/spots/reports?spotId=5cbde6df477f8600012f498d&sds=false&corrected=false') // Malibu
  // const res = await fetch('https://services.surfline.com/kbyg/spots/reports?spotId=5842041f4e65fad6a770893f&sds=false&corrected=false')    // Leo
  // const res = await fetch('https://services.surfline.com/kbyg/spots/reports?spotId=59c1970dbb6f23001cd20dd7&sds=false&corrected=false')    // Ventura Point Overview
  // const res = await fetch('https://services.surfline.com/kbyg/spots/reports?spotId=5842041f4e65fad6a770896e&sds=false&corrected=false')    // Carpenteria
  return await res.json()
}

export default {
  name: 'App',

  components: { Header, VideoPlayer },

  setup() {
    let report = reactive({})
    const loadingState = reactive({})

    loadingState.value = 'loading'

    onBeforeMount(async () => {
      const result = await fetchSurfReport()
      Object.assign(report, result)

      loadingState.value = 'success'
    })

    return { report, loadingState }
  },

  data() {
    return {
      getUnit,
      videoOptions: {
				// autoplay: true,
				controls: true,
				sources: [
					{
						// src: 'https://cams.cdn-surfline.com/cdn-wc/wc-wedge/playlist.m3u8', // The Wedge
						src: 'https://cams.cdn-surfline.com/cdn-wc/wc-countylinebeach/playlist.m3u8', // County Line
						// src: 'https://cams.cdn-surfline.com/cdn-wc/wc-malibuclose/playlist.m3u8',
						// src: 'https://cams.cdn-surfline.com/cdn-wc/wc-leocarrillosb/playlist.m3u8',
            // src: 'https://cams.cdn-surfline.com/cdn-wc/wc-venturapoint/playlist.m3u8',
						type: 'application/x-mpegURL',
					}
				]
			}
    }
  },

  computed: {
    plus() {
      return this.report.forecast.waveHeight.plus ? '+' : ''
    },
    getOccasionalWaveHeight() {
      return this.report.forecast.waveHeight.occasional ? 
        `occasional ${this.report.forecast.waveHeight.occasional} ${
          getUnit(this.report.units.waveHeight)
        }.` :
        ''
    },
    goGetWaveCondition() {
      return getCondition(this.report.forecast.conditions.value)
    },
    goGetWeatherCondition() {
      return getCondition(this.report.forecast.weather.condition)
    },
    reportDateTime() {
      return dayjs.unix(this.report.report.timestamp).format('ddd. – MMM. D, YYYY @ h:mma')
    },
    tideCurrentTime() {
      return dayjs.unix(this.report.forecast.tide.current.timestamp).format('h:mma')
    },
    tideNextTime() {
      return dayjs.unix(this.report.forecast.tide.next.timestamp).format('h:mma')
    }
  },

  methods: {
    async refresh () {
      const result = await fetchSurfReport()
      Object.assign(this.report, result)
    },
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
}
.report {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  display: block;
}
.spot-camera .video-js,
.spot-camera .video-js .vjs-tech {
  height: auto;
  max-width: 395px;
  min-height: 222px;
  width: 100%;
}
.spot-camera .video-js.vjs-fullscreen .vjs-tech {
  max-width: unset;
}
.spot-camera .video-js .vjs-big-play-button {
  top: unset;
  right: 10px;
  bottom: 10px;
  left: unset;
}
.spot-image img {
  margin: 0 auto;
  margin: 20px auto;
  position: relative;
  display: block;
}
.wind-refresh {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

</style>
